
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .itemProduct img {
        width: 100%;
        height: auto;
    }

    .itemProduct h3 {
        color: black;
        font-size: 15px;
    }

        .itemProduct h3:hover {
            color: orange;
        }

    a {
        text-decoration: none !important;
    }
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
</style>
<div class="text-center">
    <h2>Tìm kiếm</h2>
    <p>Có <b>@ViewBag.sl</b> sản phẩm </p>
</div>
<div class="containerProduct">
    <h4>Kết quả tìm kiếm cho <b>"@ViewBag.keyword"</b></h4>
    <div class="row newproduct">
        @foreach (var item in @ViewBag.listSP)
        {
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="/Product/detail?id=@item.MaSanPham">
                    <img src="@item.LinkAnh" />
                    <h3>
                        @item.TenSanPham
                    </h3>
                </a>

                <p>@item.Gia đ</p>
            </div>
        }
       
    </div>

    <div class="text-center">
        <div class="text-center pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>

