
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
    <div class="row" >
        <div class="col-md-2" ></div>
        <div class="col-md-4 text-center">
            <h3> Thanh toán</h3>
            @if (Model != null)
            {
                <form method="post" action="/Cart/DatHang">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input style="display:none;" type="text" name="Id" class="form-control" id="inputEmail4" value="@Model.Id" placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="Quyen" class="form-control" id="inputEmail4" value="@Model.Quyen" placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="TenDangNhap" class="form-control" id="inputEmail4" value="@Model.TenDangNhap" placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="MatKhau" class="form-control" id="inputEmail4" value="@Model.MatKhau" placeholder="Họ và tên">
                            <input type="text" name="HoTen" class="form-control" id="inputEmail4" value="@Model.HoTen" placeholder="Họ và tên">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <input type="email" name="Email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">

                            <input type="number" name="SoDienThoai" class="form-control" id="inputPassword4" value="@Model.SoDienThoai" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">

                            <input type="text" name="DiaChi" class="form-control" id="inputEmail4" value="@Model.DiaChi" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <input style="display:block;margin: 0 auto;padding:10px 25px;" type="submit" value="Xác nhận" class="btn btn-primary" />
                </form>
            }
            else
            {
                <form method="post" action="/Cart/DatHang">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input style="display:none;" type="text" name="Id" class="form-control" id="inputEmail4"  placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="Quyen" class="form-control" id="inputEmail4"  placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="TenDangNhap" class="form-control" id="inputEmail4"  placeholder="Họ và tên">
                            <input style="display:none;" type="text" name="MatKhau" class="form-control" id="inputEmail4"  placeholder="Họ và tên">
                            <input type="text" name="HoTen" class="form-control" id="inputEmail4"  placeholder="Họ và tên">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <input type="email" name="Email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">

                            <input type="number" name="SoDienThoai" class="form-control" id="inputPassword4"  placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">

                            <input type="text" name="DiaChi" class="form-control" id="inputEmail4"  placeholder="Địa chỉ">
                        </div>
                    </div>
                    <input style="display:block;margin: 0 auto;padding:10px 25px;" type="submit" value="Xác nhận" class="btn btn-primary" />
                </form>
            }
        </div>
        <div class="col-md-6">
            @foreach (var item in ViewBag.listsp)
            {
                <div>

                    <div class="row item_Cart">
                        <div style="box-sizing:border-box;padding:10px;" class=" col-md-3">
                            <div class="text-center">
                                <img style=" width: 60%; height: auto;margin:0 auto;display:block;" src="@item.LinkAnh" />
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <h3 class="titleProduct">@item.TenSanPham</h3>
                            <p>@item.Gia đ</p>                          
                            <p>Số Lượng: @item.SoLuong </p>
                        </div>

                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>

