
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .price{
        color: red;
    }
    .describe h5{
        font-weight: 600;
    }
    .bold{
        font-weight: 600;
    }
    .titleProduct{
        font-size: 19px;
    }
    .itemProduct {
        
        margin-top: 10px;
    }
    .itemProduct img {
        width: 100%;
        height: auto;
    }

    .itemProduct h3 {
        color: black;
        font-size: 15px;
    }

        .itemProduct h3:hover {
            color: orange;
        }

    a {
        text-decoration: none !important;
    }
</style>
    <div class="row">
        <form method="post" action="/Cart/addCart">
            <div style="display:none;">
                <input type="text" name="MaSanPham" value="@ViewBag.sp.MaSanPham" />
                <input type="text" name="TenSanPham" value="@ViewBag.sp.TenSanPham" />
                <input type="number" name="Gia" value="@ViewBag.sp.Gia" />
                <input type="text" name="MoTa" value="@ViewBag.sp.MoTa" />
                <input type="text" name="LinkAnh" value="@ViewBag.sp.LinkAnh" />
                <input type="text" name="GhiChu" value="" />
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="@ViewBag.sp.LinkAnh" />
            </div>
            <div class="col-md-6">
                <h3 class="titleProduct bold">@ViewBag.sp.TenSanPham</h3>
                <p class="price bold">@ViewBag.sp.Gia đ</p>
                <div style="padding:6px;margin-top:10px;" class="size">
                   
                        <select name="Size" style="padding:6px;">
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="2XL">2XL</option>
                            <option value="3XL">3XL</option>
                        </select>
                        <input style="padding:5px;" type="number" name="SoLuong" min="1" value="1" />

                    

                </div>
                <div class="numberorder">

                </div>
                <div style="margin-top:10px;">
                    <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-warning">
                    <button type="button" class="btn btn-info">Tiếp tục mua</button>
                </div>
                <div class="describe">
                    <h5>Mô tả</h5>
                    <p>
                        @ViewBag.sp.MoTa
                    </p>
                </div>
            </div>
        </form>
     
    </div>
<hr />
    <div>
        <h4 style="font-size: 25px;" class="text-center" >Sản phẩm liên quan</h4>
        <div style="margin-top: 15px;" class="row newproduct">
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
            <div class="col-md-3 itemProduct">
                <a style="text-decoration:none;" href="#">
                    <img src="~/Assest/aokhoac.jpg" />
                    <h3>
                        Áo Sweatshirt S.E  Triumphal 1334
                    </h3>
                </a>

                <p>550,000 đ</p>
            </div>
        </div>
    </div>

