
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_ad.cshtml";
}
<link href="~/Content/progressbar.css" rel="stylesheet" />
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #myChart {
        width: 100% !important;
        height: auto;
    }

    .report i {
        font-size: 25px;
        color: aqua;
        display: block;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-md-8">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="col-md-4">
        <div class="row report">
            <form action="Admin/Index">
                <div class="row">
                    <div class="col-md-2"><label for="birthdaytime">From</label></div>
                    <div class="col-md-10"> <input type="datetime-local" id="from" name="from"><br /></div>
                    <div class="col-md-2"> <label for="birthdaytime">To</label></div>
                    <div class="col-md-10">  <input type="datetime-local" id="to" name="to"><br /></div>
                    <div class="col-md-12">
                        <br />
                        <input type="submit" class="btn-primary" value="Tra cứu">
                    </div>
                </div>
            </form>
        </div>
        <div>
            <p>Tổng doanh thu : @ViewBag.TongDoanhThu vnđ</p>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.listsp)
            {
                <div>

                    <div class="row item_Cart">
                        <div style="box-sizing:border-box;padding:10px;" class=" col-md-3">
                            <div class="text-center">
                                <img style=" width: 60%; height: auto;margin:0 auto;display:block;" src="@item.LinkAnh" />
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <h3 class="titleProduct">@item.TenSanPham</h3>
                            <p>@item.Gia đ</p>
                            <p>Số Lượng: @item.SoLuong </p>
                        </div>

                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
            datasets: [{
                label: 'Doanh thu 2021',
                data: [@ViewBag.dt.Thang1, @ViewBag.dt.Thang2, @ViewBag.dt.Thang3, @ViewBag.dt.Thang4, @ViewBag.dt.Thang5, @ViewBag.dt.Thang6, @ViewBag.dt.Thang7, @ViewBag.dt.Thang8, @ViewBag.dt.Thang9, @ViewBag.dt.Thang10, @ViewBag.dt.Thang11, @ViewBag.dt.Thang12],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


