
@{
    ViewBag.Title = "QuanLyDonHang";
    Layout = "~/Views/Shared/_Layout_ad.cshtml";
    int i = 1;
}
<style>
    td {
        padding: 10px;
    }

    th {
        padding: 5px;
    }
    .title_cagetory {
        color: black;
        font-family: 'Adobe Devanagari';
        display: inline-block;
        text-align: center;
        font-size: 35px;
        margin: 0 auto;
    }

        .title_cagetory:hover {
            color: orange;
        }

    .itemProduct {
        box-sizing: border-box;
        padding: 20px;
    }

        .itemProduct img {
            width: 100%;
            height: auto;
        }

        .itemProduct h3 {
            color: black;
            font-size: 15px;
        }

            .itemProduct h3:hover {
                color: orange;
            }

    a {
        text-decoration: none !important;
    }

        
</style>
<h4 style="color: deepskyblue;">Danh sách đơn hàng</h4>
<div style="margin: 20px;" class="row">
    <div class="col-md-5">
       
    </div>
    <div class="col-md-2">
        <select id="mySelect" onchange="myFunction()" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            @if (@ViewBag.type == 0)
            {
                <option selected value="0">Chưa xác nhận</option>
            }
            else
            {
                <option value="0">Chưa xác nhận</option>
            }
            @if (@ViewBag.type == 1)
            {
                <option selected value="1">Đã xác nhận</option>
            }
            else
            {
                <option value="1">Đã xác nhận</option>
            }
            @if (@ViewBag.type == 2)
            {
                <option selected value="2">Đã từ chối</option>
            }
            else
            {
                <option value="2">Đã từ chối</option>
            }
            @if (@ViewBag.type == 3)
            {
                     <option selected value="3">Đã hoàn lại</option>
            }
            else
            {
                    <option value="3">Đã hoàn lại</option>
            }


            

        </select>
    </div>
    <div class="col-md-5">      
    </div>
</div>
<div class="row" >
    <div class="col-md-12">
        <div class="card mb-4">       
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Tên Khách Hàng</th>
                                <th>Ngày Tạo</th>
                                <th>Ngày Hẹn Trả</th>
                                <th>Chi tiết</th>
                                <th>Ghi chú</th>
                                <th>Tổng tiền</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.dsDonHang)
                            {
                                <tr>
                                    <td>@item.MaDonHang</td>
                                    <td>@item.TenKhachHang</td>
                                    <td>@item.NgayTao</td>
                                        @if (item.NgayHenTra != null)
                                        {
                                           <td>@item.NgayHenTra</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    <td>@item.TTDonHang</td>
                                    <td>@item.GhiChu</td>
                                    <td>@item.TongTien đ</td>
                                    <td>
                                        @if (@ViewBag.type == 0)
                                        {
                                            <a style="display:inline-block;" href="/Cart/AcceptOrder?id=@item.MaDonHang&isAccept=1" class="btn btn-success">Ok</a>
                                            <a style="display:inline-block;" href="/Cart/AcceptOrder?id=@item.MaDonHang&isAccept=2" class="btn btn-danger">X</a>
                                        }
                                        @if (@ViewBag.type == 1)
                                        {                                         
                                            <a style="display:inline-block;" href="/Cart/AcceptOrder?id=@item.MaDonHang&isAccept=3" class="btn btn-danger">X</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        var url = "QuanLyDonHang?type=" + x;
        window.location.href = url;
     }
    function formSubmit(radioObj) {

        var link = "@Url.Action("QuanLyDOnHang", "Admin", new { type = 0 })";
        switch (radioObj.value) {
            case "chua":
                link = "@Url.Action("QuanLyDOnHang", "Admin", new { type = 0 })";
                break;
            case "roi":
                link = "@Url.Action("QuanLyDOnHang", "Admin", new { type = 1 })";
                break;
            case "tuchoi":
                link = "@Url.Action("QuanLyDOnHang", "Admin", new { type = 2 })";
                break;
        }

        window.location.href = link;



    }
</script>



